    @font-face {
        font-family: 'Merchant Copy';
        src: url('../fonts/fake receipt.otf');
    }
    .ukuran {
        width: 80mm;
        height: 297mm;
    }

    table,
    td,
    th {
        font-size: 12px;
        font-family: 'Merchant Copy', Verdana, sans-serif;
    }

    page[size="A4"] {
        background: white;
        width: 21cm;
        height: 29.7cm;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;

        html,
        body {
            width: 210mm;
            height: 297mm;
        }
    }

    page[size="thermal"] {
        background: white;
        width: 8cm;
        height: fit-content;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;

        html,
        body {
            width: 210mm;
            height: 297mm;
        }
    }

    @media print {
        body {
            size: auto;
            margin: 0;
            box-shadow: 0;
        }

        page[size="A4"] {
            margin: 0;
            size: auto;
            box-shadow: 0;
        }

        page[size="thermal"] {
            margin: 0;
            size: auto;
            box-shadow: 0;
            font-family: 'Merchant Copy';
        }

        .page-break {
            display: block;
            page-break-before: always;
        }

        .no-print,
        .no-print * {
            display: none !important;
        }
    }